 [user]
     name = Marc Helbling
     email = "{{ .email_pro }}"
     signingkey = {{ onepasswordRead "op://bv2opaaxbhpe7ztv6ym5mix4um/qaw5fn3ayzlwptwjortalxdrai/public key" }} # see 'op://Private/Github pro (signing key)/public key'
