# 1password ssh agent setup:
{{ if eq .chezmoi.os "darwin" -}}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host vm
  HostName marc-vm
  User ubuntu
  ForwardAgent yes
  IdentityFile ~/.ssh/aws_vm.pub

{{ else if eq .chezmoi.os "linux" -}}
Match host * exec "test -z $SSH_CONNECTION"
  IdentityAgent "~/.1password/agent.sock"

{{ end -}}

# SSH setup for personal github account
Host personal
  HostName github.com
  IdentityFile ~/.ssh/github_perso.pub
  IdentitiesOnly yes

Host github.com
  HostName github.com
  IdentityFile ~/.ssh/github_pro.pub
  IdentitiesOnly yes
